.hobbies {
    padding: 1rem 9rem;
}

.hobbies__title {
    text-align: center;
    font-size: 2rem;
}

.hobbies__line {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.hobbies__box {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    height: 10rem;
    width: calc(100%/6 - 1rem);
    justify-content: flex-end;
    align-items: flex-start;
}

.hobbies__box ul {
    padding-left: 1rem;
}

.hobbies__img {
    margin-bottom: .5rem;
}