.title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 9rem;
}

.title__container {
    width: 70%;
}

.title__bio {
    font-size: 4rem;
}

.title__subsection {
    font-weight: 100;
    font-size: 1.3rem;
}

.title__network {
    display: flex;
    padding-left: 0;
}

.title__network__item {
    margin-right: 3rem;
    font-weight: 500;
}